<div class="example-config">
  The list of Selected boxes ID: {{ selectedKeys | json }}
</div>

<div class="button-container">
  <button class="add-new-button" (click)="openDialog()">
    <span class="add-icon">+</span> Add New
  </button>
</div>

<!-- Kendo Gantt Chart -->
<kendo-gantt [style.height.px]="500" [kendoGanttHierarchyBinding]="data" childrenField="subtasks" kendoGanttExpandable
  [initiallyExpanded]="true" [selectable]="true" [isSelected]="isSelected" (cellClick)="toggleSelection($event)"
  (taskClick)="toggleSelection($event)">

  <kendo-gantt-column field="name" title="Name" [expandable]="true" [width]="200"></kendo-gantt-column>

  <kendo-gantt-timeline-week-view [header]="{ format: 'dd/MM/yyyy' }"
    [timelineHeadersDateFormat]="{ columnHeaderDateFormat: 'dd-MM-yy' }">
  </kendo-gantt-timeline-week-view>
</kendo-gantt>

<!-- Kendo Dialog for adding new task -->
<kendo-dialog *ngIf="dialogOpened" (close)="closeDialog()" class="custom-dialog" [width]="720">
  <kendo-dialog-titlebar> <b>Leave Request</b> </kendo-dialog-titlebar>

  <form (ngSubmit)="addTask()" class="dialog-form">
    <div class="form-group">
      <label for="taskName">Name:</label>
      <input type="text" id="taskName" [(ngModel)]="newTask.name" name="name"
        [ngClass]="{'input-error': isFieldInvalid('name')}" required />
      <div *ngIf="isFieldInvalid('name')" class="error-message">Name is required.</div>

    </div>

    <div class="form-group">
      <label for="title">Leave Type:</label>
      <select id="title" [(ngModel)]="newTask.title" name="title" disabled>
        <option value="Blockout">Blockout</option>
      </select>
    </div>

    <div class="form-group">
      <label for="startDate">Start DateTime:</label>
      <input type="datetime-local" id="startDate" [(ngModel)]="newTask.start" name="start"
        [ngClass]="{'input-error': isFieldInvalid('start')}" required />
      <div *ngIf="isFieldInvalid('start')" class="error-message">Start DateTime is required.</div>
    </div>

    <div class="form-group">
      <label for="endDate">End DateTime:</label>
      <input type="datetime-local" id="endDate" [(ngModel)]="newTask.end" name="end"
        [ngClass]="{'input-error': isFieldInvalid('end')}" required />
      <div *ngIf="isFieldInvalid('end')" class="error-message">End DateTime is required.</div>
    </div>

    <kendo-dialog-actions>
      <button kendoButton (click)="closeDialog()" class="cancel-button">Cancel</button>
      <button kendoButton type="submit" class="save-button">Save</button>
    </kendo-dialog-actions>
  </form>
</kendo-dialog>